
    <div class="container-fluid px-4">
      <h1 class="mt-4">Cadastro cupom</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Ofereça aos seus clientes ofertas e descontos especiais</li>
      </ol>

      <div class="row">
        <div class="col-xl-12 " >
          <div class="card col-md-8">
            <a href="/" class=" link-dark text-decoration-none">
              <div class="card-header">
                <img src="./assets/images/add.svg" alt="">
                Novo cupom
              </div>
              </a>
          </div>
        </div>

      </div>
    </div>

