/*Buttons*/



%button-properties {
    font-family: $font-main-project;
    font-size: 16px;
    border-radius: 12px;
    padding: 4px 20px;
}

button {
    @extend %button-properties;
    background-color: #232323;
    color: #FFF;
}

.button-disabled {
    background-color: #D3D3D3;
    color:#FFF;
}

